
h1 {
	font-weight: 600;
  line-height: 1.5;
}

h1,
h4 {
  font-family: 'Poppins', sans-serif;
 	margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}


input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

/*label{
  display: flex; 
  flex-direction: row;
} */


.info {
	font-style: italic;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.container {
  width: 75%;
  margin: 3.125rem auto 0 auto;
}



/* form */

form {
  background: skyblue;
  border-radius: 0.25rem;
}

@media (min-width: 700px) {
  form {
    padding: 7rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.50rem;
}

.form-control {
  display: block;
  width: 80%;
  height: 2.5rem;
  color: #495057;
  background-color: #d9fffa;
  background-clip: padding-box;
  border: 1px solid #e6b560;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #13a305;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(19,163,5, 0.30);
}

.input-textarea {
	min-height: 25px;
	width: 100%;
	padding: 0.25rem;
	resize: vertical;
}

.clue {
	margin-left: 0.50rem;
	font-size: 0.8rem;
}

.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.15rem;
  min-width: 1.25rem;
}

.submit-button {
  display: block;
  width: 15%;
  padding: 0.50rem;
  background: #17bf1f;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 20px;  

}
